@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts */
@font-face {
  font-family: 'Involve-Regular';
  src: url('./fonts/Involve-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Involve-Medium';
  src: url('./fonts/Involve-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Involve-SemiBold';
  src: url('./fonts/Involve-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Involve-Bold';
  src: url('./fonts/Involve-Bold.ttf') format('truetype');
}

body {
  font-family: 'Involve-Regular', sans-serif;
  overflow-x: hidden;
}

.bg-main {
  background-image: url('./assets/images/bg-main.png'), url('./assets/images/shadow.png');
  background-size: contain, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}


::-webkit-scrollbar {
  background-color: black;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #FFBF55;
  border-radius: 10px;
}

